.photo {
    align-items: center;
}

.postavchik {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    
    max-width: 200px;
    max-height: 200px;
    margin-right: 16px;
    border-radius: 100%;
	
    transition: all .8s ease-in;
}
.table_modal {
	width: 1000px;
	background-color: black;
}
.licenter a {
    flex-direction: column;
    align-items: flex-start;
    height: 370px;
}

@media (max-width: 1200px) {
	.licenar:not(:nth-child(4n-8)) {
		margin-right: 0;
	}
}

.licenar:not(:nth-child(4n-8)) {
    margin-right: 16px;
}

.licenar {
    margin-bottom: 24px;
    list-style: none;
    background-color: #f4f4f4;
}




.licenar a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 282px;
    padding: 16px 22px 16px 16px;
}

@media (max-width: 1200px) {
	.licenar a {
		width: 248px;
	}
}

.tovari {
    max-width: 260px;
    max-height: 260px;
    align-items: center;
    margin-left: 20px;
    margin-top: 10%;
}

.blockya {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    margin-right: 16px;
    margin-top: 60px;
    background-color: #f90;
    border-radius: 100%;
	
    transition: all .8s ease-in;

}